<header style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                </ul>
                <ul>
                    <li>
                        <!-- <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a> -->
                        <a routerLink="/">Home</a>   
                    </li>
                    <li>
                        <a routerLink="/about">Sobre</a>
                    </li>
                    <li>
                        <a routerLink="/stock">Acessar as Cotações</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
