<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>

                    </li>
                    <li>
                        <img src="assets/img/search.png" alt="The icon for search" width="20"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Cotações</a>
                    </li>
                    <li>
                        <a href="#">Pesquisar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
