<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Sobre o Projeto</span>
        <h1 class="mt-4">Como funciona</h1>
        <p class="p-des mt-3">
          Este sistema usa uma <b>Rede Neural Recorrente (RNN)</b> para prever preços
          futuros de ações da Bolsa de Valores, adicionando indicadores técnicos
          como <b>Moving Average Convergence/Divergence (MACD)</b> e <b>Relative Strength
          Index (RSI)</b> aos dados de preços históricos. A rede neural do tipo <b>Long
          Short-term Memory (LSTM)</b> é construída usando a biblioteca Keras. O
          modelo possui duas camadas LSTM e duas camadas Dense. O otimizador
          escolhido é <b>Adam</b> e a função de perda utilizada é o <b>Erro Médio
          Quadrático (MSE)</b>. Depois de treinar e testar o modelo, um <b>Algoritmo
          Genético (GA)</b> é utilizado para otimizar um modelo de regressão linear
          para prever preços futuros da ação. Ao final da execução, o código
          imprime o resultado, que inclui o valor do dia seguinte, o valor da
          aptidão, o melhor cromossomo e uma recomendação para <b>COMPRAR</b>, <b>VENDER</b>
          ou <b>MANTER</b> a ação, dependendo do valor final da aptidão. Essa
          recomendação é baseada na análise dos preços previstos em relação aos
          preços atuais e às tendências de alta ou baixa da ação.
        </p><br>
        <h1 class="mt-4">Conheça nossos Planos</h1>
        <p class="p-des mt-3">
          Há três opções: <b>Plano Gratuito</b>, <b>Plano Básico</b> e <b>Plano Premium</b>!
          Acesse e fique por dentro dos resultados das ações da Bolsa de Valores...

          <a routerLink="/stock" class="p-readmore"
          >Cotações
          <img
            src="assets/img/play.png"
            alt="The icon for back arrow"
            width="20"
            class="ml-2"
        /></a>
        </p><br>
        <a routerLink="/" class="p-readmore"
          >Voltar
          <img
            src="assets/img/play.png"
            alt="The icon for back arrow"
            width="20"
            class="ml-2"
        /></a>
      </div>
    </div>
  </div>
</section>
