<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">
          <div class="container mt-4">
            <table class="table ">
              <thead>
                <tr class="text-center">
                  <th colspan="4">
                      {{adminType}}
                  </th>
                </tr>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Sobrenome</th>
                  <th scope="col">Data de Nascimento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Potter</td>
                  <td>Vilela</td>
                  <td>01/01/2001</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Dimitri</td>
                  <td>Gerolamo</td>
                  <td>02/02/2002</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Baltazar</td>
                  <td>Souza</td>
                  <td>03/03/2003</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</section>










