<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Inteligência Artificial</span>
        <h1 class="mt-4">Neural Finance</h1>
        <p class="p-des mt-3">
          O gráfico da série histórica de uma determinada ação traz informações
          a respeito da valorização de ativos financeiros da bolsa de valores.
          Por meio de análise técnica, identificando padrões mediante a
          representação de gráficos, é possível obter confirmação de tendência
          ou inversão de tendência.
        </p>
        <p class="p-des mt-3 mb-4">
          A inteligência artificial de modo geral, é altamente especializada na
          tarefa de identificar padrões, ela consegue obter informações
          dificilmente extraídas por meio de métodos convencionais. Para tanto,
          é importante obter um grande conjunto de amostras para o seu
          treinamento e validação.
        </p>
        <a routerLink="/about" class="p-readmore"
          >Saiba mais
          <img
            src="assets/img/play.png"
            alt="The icon for read more arrow"
            width="20"
            class="ml-2"
        /></a>
        <div>
          <br />
          <h6>Receba nossas Newsletter</h6>
          <div class="subscribe-form">
            <input type="email" placeholder="Digite seu e-mail" />
            <button class="subscribe-btn">Inscreva-se</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
