<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Plano Premium</span>
        <br /><br />
        <div class="quadro">
          <div class="item">
            <span class="titulo">Ticket: </span>
            <span class="valor">Apple Inc. (AAPL)</span>
          </div>
          <div class="item">
            <span class="titulo">Período: </span>
            <span class="valor">20/12/2021 a 20/12/2022</span>
          </div>
          <div class="item">
            <span class="titulo">Valor Fechamento $: </span>
            <span class="valor">000,00</span>
          </div>
        </div>
        <br /><br />
        <h2 class="grafico-title">Gráfico Valor de Fechamento</h2>
        <div>
          <img
            src="assets/img/chartStatic01.png"
            alt="Close Price History"
            width="1000"
          />
        </div>
        <h2 class="grafico-title">Gráfico Candlestick</h2>
        <div>
          <img
            src="assets/img/chartStatic02.png"
            alt="Candlestick Chart"
            width="1100"
          />
        </div>
        <h2 class="grafico-title">Gráfico MACD</h2>
        <div>
          <img
            src="assets/img/chartStatic03.png"
            alt="MACD Chart"
            width="1100"
          />
        </div>
        <h2 class="grafico-title">Gráfico RSI</h2>
        <div>
          <img
            src="assets/img/chartStatic04.png"
            alt="RSI Chart"
            width="1100"
          />
        </div>
        <h2 class="grafico-title">Gráfico Recurrent Neural Network (RNN)</h2>
        <div>
          <img
            src="assets/img/chartStatic05.png"
            alt="RNN Chart"
            width="1100"
          />
        </div>
        <h2 class="grafico-title">Gráfico Genetic Algorithm (GA)</h2>
        <div>
          <img src="assets/img/chartStatic06.png" alt="GA Chart" width="1100" />
        </div>
        <div class="quadro">
          <div class="item">
            <span class="titulo">Recomendação: </span>
            <span class="valor">Comprar</span>
          </div>
          <div class="item">
            <span class="titulo">Preço previsto $: </span>
            <span class="valor">000,00</span>
          </div>
        </div>
        <br /><br />
        <a routerLink="/" class="p-readmore"
          >Voltar
          <img
            src="assets/img/play.png"
            alt="The icon for back arrow"
            width="20"
            class="ml-2"
        /></a>
      </div>
    </div>
  </div>
</section>
